# Add any directories, files, or patterns you don't want to be tracked by version control
*.sqlite3
venv/
/.idea/
.idea/
*.pyc
.idea/workspace.xml
/media
/static/

# User-specific stuff:
**/.idea/
**/.idea/*
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
**/.idea/dataSources.ids
**/.idea/dataSources.xml
**/.idea/dataSources.local.xml
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml
**/.vscode
